body {
    --primary: #fe5e41;
    --secondary: #f3f5e8;
    background-color: var(--secondary);
    font-family: sans-serif;
    text-align: center;
  }
  
  .warning {
    color: var(--primary);
    font-size: 2em;
  }
  